.order-0 td {
    background: #FFC7C7 !important;
}
.order-1 td {
    background: #FFE7C7 !important;
}
.order-2 td {
    background: #F2FFC7 !important;
}
.order-3 td {
    background: #C7FFD6 !important;
}
.order-4 td {
    background: #3CE08B !important;
}
.order-5 td {
    background: #35D0BE !important;
}